:root {
  --grey-1: rgb(197, 194, 194);

  --clr-primary-dark: rgb(19, 107, 19);
  --clr-primary: rgba(68, 165, 68, 1);
  --clr-primary-light: rgb(99, 163, 99);
  --clr-primary-lighter: rgb(125, 180, 125);
  --clr-secondary: rgb(187, 120, 14);

  --transition: all 2s ease-in-out;
}

/* GLOBAL STYLES */

body {
  font-family: "Roboto", sans-serif;
  background: var(--clr-primary-light);
}

header {
  text-align: center;
}

h1 {
  color: var(--clr-primary-dark);
}

h2 {
  color: var(--clr-secondary);
}

button {
  background: var(--clr-primary-dark);
  color: white;
  text-transform: uppercase;
}

.icon {
  font-size: 10rem;
}

@media screen and (min-width: 992px) {
  .cake-icon {
    font-size: 15rem;
    margin: 5rem;
  }

  h1 {
    font-size: 4rem;
  }
}

.standard {
  padding: 10px;
  margin: 20px;
  background-color: var(--clr-primary-lighter);
  border-radius: 10px;
  border: black 1px solid;
}

.login-fields {
  margin: auto;
  padding: 0px;
  width: 200px;
}

.messages {
  height: 50px;
  text-align: center;
}

label {
  font-size: 1.2em;
}

button {
  width: 175px;
  height: 25px;
  margin-top: 10px;
}

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0; */
}

.bottom {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  /* height: 100px; */
  text-align: center;
}

.index-bottom {
  margin-top: 10rem;
}

.description {
  display: inline-block;
}

.value {
  margin: 20px;
  font-size: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: 0.1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr 5fr 4fr;
    grid-template-rows: 1fr;
  }
}

.song-description .fat {
  font-weight: 800;
}

.song-description {
  background: var(--clr-primary-dark);
  border-radius: 10px;
  border: black 1px solid;
}

.song-description p {
  margin: 10px;
}

.song {
  border-radius: 10px;
  border: black 1px solid;
}

.even {
  background: rgb(177, 176, 176);
}

.odd {
  background: rgb(67, 124, 62);
}

.song p {
  margin: 10px;
}

#select-status {
  display: block;
}

.voted {
  background: green;
}

#vote-btn {
  margin: 20px;
  /* background: lightblue; */
}

#vote-message {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.checkbox {
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

.description-filler {
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  visibility: collapse;
}

.unvisible {
  visibility: collapse;
}

.vote {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  background: lightblue;
}

@media screen and (max-width: 768px) {
  .vote {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: 1fr;
    background: lightblue;
  }
}

.vote .fat {
  font-weight: 800;
}

.user {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  background: yellow;
}

@media screen and (max-width: 768px) {
  .user {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
    background: yellow;
  }
}

.user .fat {
  font-weight: 800;
}

.accept {
  background: green;
}

.not-accept {
  background: red;
}

.grey {
  background: grey;
}

.footer-icon {
  font-size: 1.5rem;
}

.link {
  display: block;
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.link:hover {
  color: #444;
  font-size: 1.5rem;
}

/* INVITATION */
.invitation-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

.invitation-text {
  font-size: 1.2rem;
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  background: var(--grey-1);
  box-shadow: 5px 5px 10px black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.invitation-wrapper p {
  color: rgb(22, 22, 22);
}

.invitation-menu {
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.music-menu {
  text-align: left;
  background: var(--grey-1);
  box-shadow: 5px 5px 10px black;
  margin: 2rem;
}

.food-menu {
  text-align: left;
  background: var(--grey-1);
  box-shadow: 5px 5px 10px black;
  margin: 2rem;
}

.food-menu p {
  font-size: 1.2rem;
}

.food-menu span {
  text-decoration: underline;
}

.music-menu p {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .menues {
    display: flex;
    justify-content: space-around;
  }

  .food-menu {
    min-width: 350px;
  }

  .music-menu {
    min-width: 350px;
  }
}
